html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,
body,
nav,
.outer {
  height: 100%;
  overflow: hidden;
}

.logo {
  width: 200px;
}

nav {
  background: #1f1e39;
  max-width: 240px;
  padding: 20px;
  background: linear-gradient(to bottom, #1f1e39 0%,#a41f70 100%);
  float: left;
}

main {
  float: left;
  padding: 20px;
  width: calc(100% - 240px);
  height: 100%;
  overflow: scroll;
}

.property-code {
  cursor: pointer;
}

.notification {
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #331E41;
  transition: opacity .5s;
}

.notification.js-is-active {
  opacity: 1;
}
